<?xml version="1.0" encoding="utf-8" ?>
<rewrite>
  <rules>
    <clear />
    <!--<rule name="Redirect to https" stopProcessing="true">
      <match url=".*" />
      <conditions>
        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
      </conditions>
      <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
    </rule>-->
    <!--<rule name="Domain Redirect" stopProcessing="true">
      <match url="(.*)" />
      <action type="Redirect" url="https://{C:1}isitoktothink.com/{R:1}" redirectType="Permanent" />
      <conditions>
        <add input="{HTTP_HOST}" pattern="^(www\.)?localhost" />
      </conditions>
    </rule>-->
    <rule name="Remove www" stopProcessing="true">
      <condition scope="serverVariable" index="REQUEST_METHOD" test="equals" value="POST" ignoreCase="true" negate="true" />
      <match url="(.*)" ignoreCase="true" />
      <conditions logicalGrouping="MatchAll">
        <add input="{HTTP_HOST}" pattern="^www\.(.+)$" />
      </conditions>
      <action type="Redirect" url="http://{C:1}/{R:0}" appendQueryString="true" redirectType="Permanent" />
    </rule>
    <rule name="LowerCase" stopProcessing="true">
      <condition scope="serverVariable" index="REQUEST_METHOD" test="equals" value="POST" ignoreCase="true" negate="true" />
      <match url=".*[A-Z].*" ignoreCase="false" />
      <conditions logicalGrouping="MatchAll">
        <add input="{URL}" pattern="^b/" negate="true" />
      </conditions>
      <action type="Redirect" url="{ToLower:{URL}}" />
    </rule>
    <rule name="EnsureUrlDoNotEndWithASkash">
      <normalize pathLeadingSeparator="add" pathTrailingSeparator="remove"/>
    </rule>
  </rules>
</rewrite>