@model Dmc.Cms.Web.ViewModels.AdvertisementViewModel 

<h6>Advertisement</h6>
@(new HtmlString(Model.Html))

<div class="pleaseDontBlock  promo promo-border promo-mini" style="display:none;">
    <h5>Please consider supporting us by <span>disabling your ad blocker</span>.</h5>
</div>