<div class="amazonElement fbElement" style="display:none;">
    
    <div class="line line-sm"></div>

    <h4 style="margin-bottom: 15px;">you can also</h4>

    <div class="col_full">
        <div class="amazonLogin amazonElement" style="display:none;">
            <a href="#" class="loginWithAmazon">
                <img border="0" alt="Login with Amazon"
                     src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                     width="156" height="32" />
            </a>
        </div>
        <span class="d-none d-md-block">&nbsp;</span>
        <div class="fbLogin fbElement" style="display:none;">
            <div class="fb-login-button" scope="public_profile,email" onlogin="checkFbLoginState();" data-width="" data-size="medium" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
        </div>
    </div>

</div>