@{
    var appConfig = Html.GetAppConfig();
}
<div class="widget clearfix">
    <h4 class="highlight-me">Like on Facebook</h4>
    <a target="_blank" href="https://www.facebook.com/@(appConfig.SocialLinks.Facebook)"><img src="~/Resources/custom/FindUs-FB-RGB-BRC-Site-500.png" alt="Like us on Facebook" /></a>
</div>