<div class="widget clearfix">
    <h4>Other Sites by the Same Author</h4><a target="_blank" href="https://isitoktocode.com"><img src="/resources/custom/other-site-logo.png" alt="Is it OK to Code?"></a>
</div>